
<div id="main">

  <div id="HeaderDiv">
    
    <button mat-flat-button style="float:left;display:inline;" (click)="backToCompanyPage()" color="primary"><B>Back</B></button>

    <h2 style="display:inline;"><B>{{CompanyInfo.name}}</B></h2>
    
  </div><br><br>

  <div id="InfoDiv">
    
    <table id="Info" border="1" cellspacing="0">

      <tr>

        <th class="info">Symbol</th>
        <th>Name</th>
        <th class="info">Country</th>
        <th class="info">IPO Year</th>
        <th class="info">Sector</th>
        <th class="info">Last Sale</th>
        
      </tr>

      <tr>

        <td>{{CompanyInfo.symbol}}</td>
        <td>{{CompanyInfo.name}}</td>
        <td>{{CompanyInfo.country}}</td>
        <td>{{CompanyInfo.ipo_year}}</td>
        <td>{{CompanyInfo.sector}}</td>
        <td>{{CompanyInfo.last_sale}}</td>
        
      </tr>
      
    </table>
    
  </div><br>

  <div echarts [options]="echartsOption" id="EChartDiv"></div>

</div>
